/* 普通一级菜单图标 */
.menus_items .menus_item > a.site-page::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 8px;
  vertical-align: middle;
}

/* 主页 */
.menus_items .menus_item > a.site-page[href="/"]::before {
  background-image: url("/img/home.png");
}
/* 时间流 */
.menus_items .menus_item > a.site-page[href="/archives/"]::before {
  background-image: url("/img/archives.png");
}
/* 标签 */
.menus_items .menus_item > a.site-page[href="/tags/"]::before {
  background-image: url("/img/tags.png");
}
/* 音乐库 */
.menus_items .menus_item > a.site-page[href="/music/"]::before {
  background-image: url("/img/music.png");
}
/* 相关链接 */
.menus_items .menus_item > a.site-page[href="/link/"]::before {
  background-image: url("/img/link.png");
}
/* 关于 */
.menus_items .menus_item > a.site-page[href="/about/"]::before {
  background-image: url("/img/about.png");
}

/* ========== 分类下拉父菜单 ========== */
.menus_items .menus_item > span.site-page.group > span::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 8px;
  vertical-align: middle;
  background-image: url("/img/categories.png");
}

body.is-home #page-header{
  height: 100vh !important;
  min-height:100vh !important;
}
/* 给header上层加黑色遮罩，把图片压暗 */
body.is-home #page-header::before{
  background:rgba(0,0,0,0.4) !important;
  opacity:1 !important;
}
/* 非首页横幅300px */
body:not(.is-home) #page-header{
  height:300px !important;
  min-height:300px !important;
}
